ul {
    list-style-type: none;

    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
    color: whitesmoke;
}

#a {
    background-color: #e5e5e5;
    height: 150px;
    margin-bottom: -20px;
    padding-left: 10px;

    h1 {
        margin-top: 10px;
        padding-top: 15px;
        padding-left: 13px;
        border: 0.5px solid black;
        border-radius: 10px;
        width: 80px;
        height: 80px;
    }

}



#home {

    background-color: #e5e5e5;
    margin-top: 0px;

    div {


        h3,
        h1,
        h5 {

            font-family: cursive;
            margin-left: 320px;

        }

        img {
            border-radius: 50px;
            width: 300px;
            margin-left: 200px;
        }

        h3 {
            padding-top: 100px;
        }


        display: inline-block;
        height: 400px;


    }
}




#about {
    margin-left: 200px;

    div {


        display: inline-block;

        h1 {
            margin-top: 10px;
            margin-bottom: 20px;
            font-family: cursive;
        }

        p {
            color: rgb(0, 0, 0);
            width: 430px;
            border: 1px solid rgb(81, 75, 75);
            padding: 20px 20px 40px 20px;
            box-shadow: #111;
            border-radius: 15px;
            box-shadow: 0 0 6px 0.5px rgb(119, 119, 119);
            font-family: monospace;
        }

        img {
            margin-top: -500px;
            height: 400px;
        }
    }
}

#skills {

    background-color: #003049;
    width: 90%;
    height: 820px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 15px 2px rgb(119, 119, 119);

    h1 {
        color: whitesmoke;
        font-family: serif;
        margin-left: 70px;
        padding-top: 50px;
        font-size: 60px;
        margin-bottom: -10px;

    }


}

#skills div {
    width: 175px;
    height: 250px;
    background-color: white;
    display: inline-block;
    margin: 50px;
    margin-left: 175px;
    border-radius: 10px;
    align-content: center;


}

.img {

    width: 50%;
    height: 150px;
    margin-left: 45px;
    margin-bottom: 70px;

}

.h2 {
    color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-top: -45px;
    font-size: 20px;
    text-align: center;
}



#project {

    margin-top: 50px;

    h1 {
        margin-left: 30px;
        margin-bottom: -10px;
        color: #222f36;
        font-size: 50px;



    }
}

.animated-button {
    background-color: #008CBA;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 15px 0 #006699;
    width: 350px;
    animation: example 1s infinite;
    margin-top: 20px;
    border: 1px solid black;
    margin-left: 20px;
}

@keyframes example {
    0% {
        background-color: #008CBA;
    }

    50% {
        background-color: #006699;
    }

    100% {
        background-color: #008CBA;
    }
}